<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFMeituanHD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>361FC8001D6082C6008FEADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>361FC8191D6082C6008FEADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>361FC8241D6082C6008FEADA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
